@import "../_globalColor";

.dark-mode {
  background-color: $darkBackground;
  color: white;
  transition: "0.1s";
}

.react-reveal 
 {
    opacity: 0;
    margin: 40px auto;
    width: 85%;
}
.react-reveal.skillos,  
.react-reveal.hero-slider {
    opacity: 0;
    margin:0 auto;
    width: 100%;
}

.dark-mode.main{
    margin: auto;
    width: 85%;
}
.react-reveal.skills-container, 
.skills-main-div {
    display: none;
}
.react-reveal.footer-div {
    margin: 0 auto;
}